<%= setup_context :title => "Home", :suppress_breadcrumb => true %>

<div class="row">
  <div class="col-md-12">
    <%= render_aspace_partial :partial => "shared/flash_messages" %>
  </div>

   <div class="col-md-12" style="padding: 30px;">
      <h1><%= I18n.t "welcome.heading" %></h1>
      <% if session["user"] %>
        <p><%= I18n.t "welcome.message_logged_in" %></p>

        <%# PLUGIN CONTENT STARTS HERE %>
        <div>
          <%=
            link_to I18n.t("plugins.box_search.label"),
                    {:controller => :box_search, :action => :index},
                    :class => "btn btn-primary"
          %>
        </div>
        <%# PLUGIN CONTENT ENDS HERE %>

      <% else %>
        <p><%= I18n.t "welcome.message" %></p>
      <% end %>
   </div>
</div>
